@charset "UTF-8";
body{
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
h1{
    color: blue;
    background-color: darkgray;
}
p{
    text-align: center;
    color: white;
}