@charset "UTF-8";

/* Em HTML é id= em CSS é # ( só pode um elemento)
   Em HTML é class= em CSS é . (pode vários elementos)*/

body {
    background-color: #214D5A;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, #3A879E, #214D5A, #47A4C0 ) ;
    color: white;
}

h1 {
    color: #54C1E2;;
}

#principal {
    text-align: center;
    background-color: #3A879E;
}

h2 {
    color: #47A4C0;
}

#secundario {
    text-align: center;
    color: #47A4C0;
    background-color: #47A4C0;
    padding: 4px;
    box-shadow: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: 200;
}

.basico {
    color: green;
    font-weight: bold;
}

.intermediario {
    color: red;
    font-weight: bold;
}

.avancado {
    color: yellow;
    font-weight: bold;
}

.destaque {
    background-color: rgb(248, 135, 135);
}

