@charset "UTF-8";

*{
    font-family: 'Times New Roman', Times, serif;
/*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #152633, #79B1DB);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #0c1114a9;
    width: 800px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #4a677c;
    text-align: center;
    text-shadow:  1px 1px 0px rgb(61, 61, 61);
}

h2 {
    color: #7F9BB0;
}

p {
    text-align: justify;
}